/* Modules CSS */
.liza_cs_title {
	margin-bottom:45px;
}
.liza_element_wrap .countdown {
	display:block;
}
.liza_element_wrap .countdown .item {
    display: inline-block;
    text-align: center;
    margin: 0 83px;
}

.liza_element_wrap .countdown .item:first-child {
    margin-left: 0;
}
.liza_element_wrap .countdown .item:last-child {
    margin-right: 0;
}

.liza_element_wrap .countdown .item span {
    font-size: 120px;
	line-height:130px;
	font-weight:400;
	letter-spacing:1px;
}

.liza_element_wrap .countdown .item span.label {
    font-size: 13px;
	line-height:20px;
    font-weight: 400;
    display: block;
    text-transform: uppercase;
    margin-top: 15px;
	letter-spacing:1.5px;
	border: none;
	background: none;
}


/* Liza Iconbox */
.liza_iconbox {
	font-size: 0;
	line-height: 0;
}
.liza_iconbox > div {
	display: inline-block;
	vertical-align: top;
}
.liza_iconbox_icon {
	width: 90px;
}
.liza_icon_circle {
	background: #303342;
	color: #ffffff;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: block;
	position: relative;
}
.liza_icon_circle i {
	font-size: 30px;
	line-height: 32px;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	position: absolute;
}
.liza_iconbox_content {
	width: calc(100% - 90px);
	padding-top: 3px;
}
.liza_iconbox_content h6 {
	margin-bottom: 16px;
}

/* Liza Blog */
.liza_element_blog .liza_post_preview {
	padding-top:60px;
	margin-top:52px;
	border-top:#26272b 1px solid;
}
.liza_element_blog .liza_post_preview:first-child {
	padding-top:0;
	margin-top:0;
	border-top:none;	
}
.liza_element_blog {
	padding-top:14px;
}
.liza_post_formats {
	margin-bottom:28px;
}
.liza_element_blog .entry-title {
    margin-bottom: 13px;
}
.liza_element_blog .entry-title i {
	font-size:30px;
	display:inline-block;
	vertical-align:top;
	transform:translateY(10px);
	margin-right:10px;
}
.liza_meta {
	padding-left:30px;
	position:relative;
}
.liza_meta:before {
	content:'';
	width:15px;
	height:2px;
	display:block;
	position:absolute;
	left:0;
	top:11px;
}
.liza_meta {
	padding-bottom:26px;
}
.liza_meta,
.liza_meta div,
.liza_meta a {
	font-size:14px;
}
.liza_meta > div {
    display: inline-block;
}
.liza_meta > div:after {
    content: "/";
    display: inline-block;
    margin-left: 11px;
    margin-right: 7px;
}
.liza_meta > div:last-child:after {
    display: none;
}
.liza_meta a {
    text-decoration: none;
}
.liza_meta ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.liza_meta ul li {
    list-style: none;
    display: inline-block;
}
.liza_stand_fi {
    display: inline-block;
}
.liza_owlCarousel {
    opacity: 0;
}
.liza_element_blog .read_more_cont a {
	display:inline-block;
	position:relative;
	padding-left:60px;
	transition:padding 350ms;
	text-transform:uppercase;
	font-size:13px;
	letter-spacing:1.3px;
	margin-top:27px;
}
.liza_element_blog .read_more_cont a:hover {
	padding-left:80px;
}
.liza_element_blog .read_more_cont a:before {
	content:'';
	width:40px;
	height:2px;
	display:block;
	position:absolute;
	left:0;
	top:10px;
	transition:width 350ms;
}
.liza_element_blog .read_more_cont a:hover:before {
	width:60px;
}
.liza_post_formats.liza_pf_quote {
	margin-bottom:-2px;
}
.liza_pf_quote_text {
	font-size:14px;
	line-height:21px;
}
.liza_pf_quote_author {
	margin:20px 0 -3px 0;
}
.liza_pf_quote_additional {
	font-size:12px;
}

/* G R I D   &   M A S O N R Y   G A L L E R Y */
.liza_grid_nopad .grid_load_more.liza_button {
	margin-top:80px;
}
/* Isotope */
.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item {
    -webkit-transition-duration: .8s;
    -moz-transition-duration: .8s;
    transition-duration: .8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0;
    -moz-transition-duration: 0;
    transition-duration: 0;
}

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

/* Isotope Filter */
.liza_filter_block ul#options,
.liza_filter_block ul.liza_filter_inner {
	padding:0;
	margin:0;
}
.liza_filter_block {
	width:100%;
	display:block;
	text-align:center;
	margin-bottom:74px;
}
.liza_filter_block ul#options > li,
.liza_filter_block ul.liza_filter_inner > li {
	padding:0;
	margin:0;
	list-style:none;
}
.liza_filter_inner {
	display:inline-block;
	margin:0 auto;
}
.liza_filter_block ul.liza_filter_inner > li {
	display:inline-block;
	margin:0 11px;
	font-size:13px;
	line-height:20px;
	text-transform:uppercase;
}
.liza_filter_inner li a {
	position:relative;
	padding:0 0 8px 0;
	letter-spacing:1.7px;
}
.liza_filter_inner li a:before {
	content:'';
	width:0;
	height:2px;
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	transition:background 400ms, width 400ms;
}
@media only screen and (min-width: 1200px) {
	.liza_filter_inner li a:hover:before {
		width:100%;
	}
}

/* Module CSS */
.grid_columns1 .grid-item {
    width: calc(100% - 1px);
}

.grid_columns2 .grid-item {
    width: calc(50% - 1px);
}

.grid_columns3 .grid-item {
    width: calc(33.33% - 1px);
}

.grid_columns4 .grid-item {
    width: calc(25% - 1px);
}

.grid_columns5 .grid-item {
    width: calc(20% - 1px);
}

.grid_columns6 .grid-item {
    width: calc(16.66% - 1px);
}

.grid-item .grid-item-inner {
    position: relative;
    transition: z-index 500ms, opacity 500ms;
}

.grid-item .grid-item-inner a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 18;
}

.grid-item .grid-item-inner a:after,
.grid-item .grid-item-inner a:before {
	content:'';
    position: absolute;
    z-index: 18;
	background:#ffffff;
	top:50%;
	left:50%;
	transition:opacity 400ms;
	opacity:0;
}
.grid-item .grid-item-inner a:hover:after,
.grid-item .grid-item-inner a:hover:before {
	opacity:1;
}
.grid-item .grid-item-inner a:after {
	width:20px;
	height:2px;
	margin:-1px 0 0 -10px;
}
.grid-item .grid-item-inner a:before {
	width:2px;
	height:20px;
	margin:-10px 0 0 -1px;
}

.liza_grid_inner .grid-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 400ms;
}

.liza_grid_wrapper .grid-item .grid_overlay {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity 400ms;
    opacity: 0;
    z-index: 17;
}

.liza_grid_wrapper .grid-item:hover .grid_overlay {
    opacity: 1;
}

.liza_grid_wrapper_single {
	padding-bottom:110px;
}

/* Items load_anim FX */
.load_anim,
.anim_el.load_anim {
    opacity: 0 !important;
    z-index: -10 !important;
}

.load_anim.anim_el.grid-item {
    opacity: 1 !important;
    z-index: 2 !important;
}

.anim_el2.load_anim.anim_el.grid-item {
    opacity: 0 !important;
}

.grid-item .liza-img-preloader {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: opacity 500ms, z-index 500ms;
}

.load_anim.anim_el.grid-item .liza-img-preloader {
    opacity: 1;
    z-index: 5;
}

.grid-item .liza-img-preloader:before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100%;
    border: rgba(0, 0, 0, 0) 3px solid;
    border-top-color: #77797a;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    -webkit-animation: sas_preloader 750ms ease-in-out infinite;
    animation: sas_preloader 750ms ease-in-out infinite;
}

.grid-item .liza-img-preloader:before {
    -webkit-animation: sas_preloader 750ms ease-in-out infinite;
    animation: sas_preloader 750ms ease-in-out infinite;
    opacity: 1;
}

.load_anim.anim_el.grid-item img.grid_thmb {
    opacity: 0;
}

.anim_el {
    transition: opacity 500ms !important;
}

.grid_loadmore_wrapper {
    text-align: center;
    display: block;
}

.grid_load_more.liza_button {
    margin: 0 auto 0 auto;
    display: inline-block;
    padding: 19px 60px 17px 60px;
    letter-spacing: 1.3px;
}

@keyframes sas_preloader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes sas_preloader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* liza Image Carousel */
.owl-carousel.liza_image_carousel .owl-stage,
.owl-carousel.liza_image_carousel .owl-stage a {
    cursor: -webkit-grab;
    cursor: grab;
}

.owl-carousel.liza_image_carousel .owl-stage:active,
.owl-carousel.liza_image_carousel .owl-stage:active a {
    cursor: -webkit-grabbing;
    cursor: grabbing;
}

.liza_image_carousel .owl-dots {
    display: none;
}

.liza_image_carousel .liza_img_carousel_item {
    position: relative;
}

.liza_image_carousel .liza_img_carousel_item .liza_img_carousel_overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity 400ms;
    opacity: 0;
}

.liza_image_carousel .liza_img_carousel_item:hover .liza_img_carousel_overlay {
    opacity: 1;
}

.liza_image_carousel .liza_img_carousel_item a.swipebox {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

/* liza Price Table */
.liza_price_table {
    display: block;
    position: relative;
}

.liza_price_table .liza_price_table_item:first-child {
    border-radius: 2px 0 0 2px;
}

.liza_price_table .liza_price_table_item:last-child {
    border-radius: 0 2px 2px 0;
}

.liza_price_table .liza_price_table_item {
    position: relative;
    display: block;
    background: #f8f8f8;
    float: left;
    text-align: center;
    padding: 58px 0 59px 0;
}

.liza_price_table .liza_price_table_item.most_popular_item {
    background: #e8eaee;
    border-radius: 2px;
    margin: -20px 0 0 0;
    padding: 78px 0 81px 0;
}

.liza_most_popular_label {
    background: #1f232f;
    color: #ffffff;
    text-transform: uppercase;
    position: absolute;
    right: 30px;
    top: 30px;
    border-radius: 2px;
    font-siZe: 10px;
    line-height: 17px;
    padding: 5px 8px 5px 9px;
    letter-spacing: 1.9px;
}

.liza_price_item_title {
    text-transform: uppercase;
    margin-bottom: 40px;
}

.liza_price_item_content {
    font-size: 15px;
    padding-top: 10px;
}

.liza_price_item_content p {
    font-size: 15px;
    margin: 15px 0;
}

.liza_price_item_content br {
    display: none;
}

.liza_price_item_content p:empty {
    display: none;
}

.liza_price_table_item .liza_button,
.liza_price_table_item.most_popular_item .liza_button:hover {
    background: #1f232f;
}

.liza_price_item_price_block span {
    display: inline-block;
}

.liza_price_item_currency {
    font-size: 52px;
    line-height: 54px;
    vertical-align: top;
}

.liza_price_item_price {
    font-size: 86px;
    line-height: 88px;
    letter-spacing: -3px;
    margin-left: -6px;
}

.liza_price_item_period {
    font-size: 25px;
    line-height: 27px;
    margin-left: -8px;
}

.liza_price_item_button_wrapper {
    padding-top: 20px;
}

.liza_price_item_button_wrapper a.liza_button.liza_price_item_button {
    padding: 13px 30px 15px 30px;
}

/* Promo Text */
.liza_promo_text_wrapper.liza_promo_has_button {
	overflow:hidden;
}
.liza_promo_text_wrapper.liza_promo_has_button .liza_promo_text_inner {
	width:75%;
	float:left;
}
.liza_promo_text_inner {
    text-align: left;
}
div.liza_promo_text {
	font-size:16px;
	text-transform:uppercase;
	letter-spacing:1.7px;
}
.liza_promo_text {
	position:relative;
	margin-bottom:19px;
}
.liza_promo_text:before {
	content:'';
	width:15px;
	height:2px;
	display:inline-block;
	vertical-align:middle;
	transform:translateY(-1px);
	margin-right:21px;
}
.liza_promo_title {
	margin:0;
}
.liza_promo_text_button_wrapper {
	padding:30px 0 0 0;
	text-align:right;
}
.liza_promo_text_wrapper.liza_promo_has_button .liza_promo_text_button_wrapper {
	width:25%;
	float:right;
}

.liza_promo_text_button_wrapper a.liza_button {
    padding: 19px 59px 17px 59px;
}

/* Testimonials */
.liza_testimonials_slider.liza_owlCarousel.owl-carousel .owl-dots {
    transform: none;
}

.liza_testimonials_slider .liza_testimonials_item {
    text-align: left;
    padding: 0 0 34px 0;
}

.liza_testimonials_slider .liza_testimonials_item img {
    width: 60px;
    height: 60px;
    max-width: 60px;
    border-radius: 2px;
    display: inline-block;
}

.liza_testimonials_item h6 {
	margin:13px 0 -3px 0;
}

.testimonial_additional {
    font-size: 13px;
}

.liza_testimonials_slider .testimonial_content {
	font-size:14px;
	line-height:21px;
	text-align:left;
    padding: 43px 24px 42px 28px;
    border:2px solid #303342;
	margin:0 0 0 30px;
    position: relative;	
}

.liza_testimonials_slider .testimonial_author_info {
	transform:translateY(-30px);
}
.liza_testimonials_slider .testimonial_author_info img {
	display:block;
}

/* Testimonials Flow */
.liza_testimonials_flow {
	opacity:0;
	transition:opacity 500ms;
	text-align:center;
	position:relative;
	padding:0 50px;
}
.liza_testimonials_flow.module_loaded {
	opacity:1;
}

.liza_testimonials_flow_inner {
	position:relative;
	transition:min-height 500ms;
	min-height:0;
	text-align:center;
}
.liza_testimonials_flow_item {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	transition:z-index 500ms;
	z-index:5;
}
.liza_testimonials_flow_dots {
	display:inline-block;
	margin:0 auto;
	padding:70px 0 0 0;
	font-size:0;
	line-height:0;
}
.liza_testimonials_flow_dots a {
	width:10px;
	height:10px;
	display:inline-block;
	border-radius:100%;
	background:rgba(255,255,255,0.5);
	transition:background 400ms;
	margin:0 10px;
}
.liza_testimonials_flow_dots a:hover,
.liza_testimonials_flow_dots a.liza_ts_dot_current {
	background:rgba(255,255,255,1);	
}
.liza_testimonials_flow_prev,
.liza_testimonials_flow_next {
	width:20px;
	height:20px;
	display:block;
	background:url(../img/liza_sprite.png) no-repeat;
	background-size:120px 20px;
	position:absolute;
	top:50%;
	margin-top:-10px;
}
.liza_testimonials_flow_prev {
	background-position:0 0;
	left:0;
}
.liza_testimonials_flow_next {
	background-position:-20px 0;
	right:0;
}

.liza_testimonials_flow_item .liza_testimonials_flow_img_block {
	width:100px;
	height:100px;
	border-radius:100%;
	display:inline-block;
	margin:0 auto;
	opacity:0;
	margin-bottom:47px;
	transform:scale(0,0) translate(0,0);
	transition:transform 500ms, opacity 500ms;
}
.liza_testimonials_flow_item .liza_testimonials_flow_img_block img {
	border-radius:100%;
	display:block;
	width:100%;
	height:auto;
}
.testimonial_content_wrapper {
	opacity:0;
	transition:opacity 500ms;
}
.liza_ts_flow_prev.liza_testimonials_flow_item .liza_testimonials_flow_img_block {
	transform:scale(0.6,0.6) translate(-100px,0);
	opacity:0.2;
}
.liza_ts_flow_next.liza_testimonials_flow_item .liza_testimonials_flow_img_block {
	transform:scale(0.6,0.6) translate(100px,0);
	opacity:0.2;
}
.liza_ts_flow_prev2.liza_testimonials_flow_item .liza_testimonials_flow_img_block {
	transform:scale(0,0) translate(-200px,0);
	opacity:0;
}
.liza_ts_flow_next2.liza_testimonials_flow_item .liza_testimonials_flow_img_block {
	transform:scale(0,0) translate(200px,0);
	opacity:0;
}
.liza_ts_flow_current.liza_testimonials_flow_item .liza_testimonials_flow_img_block {
	opacity:1;
	transform:scale(1,1) translate(0,0);
}

.liza_ts_flow_current.liza_testimonials_flow_item .testimonial_content_wrapper {
	opacity:1;
}
.liza_testimonials_flow_item .testimonial_content {
	margin-bottom:27px;
}
.liza_testimonials_flow_item .testimonial_author {
	margin-bottom:-3px;
}

.liza_ts_flow_prev2,
.liza_ts_flow_next2 {	
	z-index:7;
}
.liza_ts_flow_prev,
.liza_ts_flow_next {
	z-index:10;
}
.liza_ts_flow_current {
	z-index:15;
}


/* Works Slider */
.liza_works_slider_image {
    position: relative;
    margin-bottom: 25px;
}

.liza_works_slider_image:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.3;
    z-index: 10;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
}

.liza_works_slider_image .liza_works_slider_title {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    margin: 0 0 28px 0;
}

.liza_works_content {
    overflow: hidden;
}

.liza_works_column3,
.liza_works_column6 {
    float: left;
}

.liza_works_column3 {
    width: 25%;
}

.liza_works_column3 > div {
    padding-right: 30px;
}

.liza_works_column6 {
    width: 50%;
}

.liza_works_slider_item .liza_works_column3 .liza_works_option:first-child {
    margin: 0 0 20px 0;
}

.liza_works_slider_item .liza_works_column3 .liza_works_option h6 {
    text-transform: uppercase;
    margin: 0 0 12px 0;
    font-size: 14px;
    line-height: 16px;
}

body .liza_works_slider.liza_owlCarousel.owl-carousel .owl-dots {
    transform: none;
    margin-top: 50px;
}

/* OWL Dots style for Works Slider */
.liza_works_slider.liza_owlCarousel.owl-carousel .owl-dot {
    border: rgba(35, 38, 41, 0) 2px solid;
}

.liza_works_slider.liza_owlCarousel.owl-carousel .owl-dot.active {
    border: rgba(35, 38, 41, 1) 2px solid;
}

.liza_works_slider.liza_owlCarousel.owl-carousel .owl-dot {
    border: rgba(35, 38, 41, 0) 2px solid;
}

.liza_works_slider.liza_owlCarousel.owl-carousel .owl-dot span {
    background: rgba(35, 38, 41, 0.5);
}

.liza_works_slider.liza_owlCarousel.owl-carousel .owl-dot.active span {
    background: rgba(35, 38, 41, 0);
}

/* Grid Blog */
.liza_blog_grid {
    font-size: 0;
    line-height: 0;
	position:relative;
	min-height:100px;
}

.liza_blog_grid .liza_grid_post_wrapper {
    display: inline-block;
    vertical-align: top;
    margin-left: -1px;
}

.blog_grid_loadmore_wrapper {
    text-align: center;
}

.blog_grid_loadmore_wrapper a.blog_grid_load_more {
    line-height: 20px;
    padding: 14px 40px 16px 40px;
    margin-top: 15px;
}
.liza_blog_grid1 .liza_grid_post_wrapper {
	width:100%;
}
.liza_blog_grid2 .liza_grid_post_wrapper {
	width:50%;
}
.liza_blog_grid3 .liza_grid_post_wrapper {
	width:33.33%;
}
.liza_blog_grid4 .liza_grid_post_wrapper {
	width:25%;
}
.liza_blog_grid5 .liza_grid_post_wrapper {
	width:20%;
}
.liza_blog_grid6 .liza_grid_post_wrapper {
	width:16.66%;
}
.liza_grid_post_wrapper img {
	display:block;
	max-width:100%;
	height:auto;
}
.liza_grid_post_wrapper {
	text-align: left;
}

/* Stripes */
.liza_stripes {
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.liza_stripes:before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.3;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 100%);
    z-index: 30;
    pointer-events: none;
}

.stripes_fullscreen_on.liza_stripes {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.liza_stripes .liza_stripes_item {
    width: 100%;
    height: 100%;
    display: block;
    float: left;
    position: relative;
}

.liza_stripes .liza_stripes_item .liza_stripes_item_inner {
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.stripes_title,
.stripes_descr {
    color: #ffffff;
}

.stripes_title {
    margin-bottom: 12px;
}

.stripes_descr {
    font-size: 13px;
    line-height: 15px;
    padding-bottom: 93px;
}

.liza_stripes .liza_stripes_item a.stripe_link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    transition: none;
}

.liza_stripes .liza_stripes_item a.stripe_button_link {
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
    position: relative;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    transition: none;
}

.stripe_button_link span {
    position: absolute;
    background: #ffffff;
    width: 10px;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3px;
    transition: width 350ms;
}

.stripe_button_link:hover span {
    width: 100%;
}

.liza_stripe_content {
    width: 100%;
    text-align: center;
    bottom: 33px;
    left: 0;
    position: absolute;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 30px;
    z-index: 33;
}

/* PM Simple Slider */
.liza_simple_slider_wrapper {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: opacity 500ms, height 300ms;
}

.liza_stand_alone_slider.liza_simple_slider_wrapper {
	height:100%;
	width:100%;
	position:fixed;
	left:0;
	top:0;
}

.liza_simple_slider_wrapper.presetup {
    opacity: 0;
}

.liza_simple_slider,
.liza_simple_slider_content {
    opacity: 0;
    transition: opacity 600ms;
}

.liza_simple_slider_wrapper.liza_simple_slider_started .liza_simple_slider,
.liza_simple_slider_wrapper.liza_simple_slider_started .liza_simple_slider_content {
    opacity: 1;
}

.liza_simple_slider_wrapper:before {
    content: '';
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    border-radius: 100%;
    border: rgba(0, 0, 0, 0) 3px solid;
    border-top-color: #77797a;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    transition: opacity 500ms;
    -webkit-animation: sas_preloader 750ms ease-in-out infinite;
    animation: sas_preloader 750ms ease-in-out infinite;
}

.liza_simple_slider_wrapper.liza_simple_slider_started:before {
    opacity: 0;
    pointer-events: none;
}

.liza_simple_slider_wrapper .liza_simple_slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: block;
}

.liza_simple_slider_wrapper .liza_simple_slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 1000ms, z-index 500ms;
}
.no_fit.liza_simple_slider_wrapper .liza_simple_slide {
	background-size: cover;
}
.fit_always.liza_simple_slider_wrapper .liza_simple_slide {
	background-size: contain;
}
.fit_width.liza_simple_slider_wrapper .liza_simple_slide {
	background-size:100% auto;
}
.fit_height.liza_simple_slider_wrapper .liza_simple_slide {
	background-size:auto 100%
}

body .liza_simple_slider_wrapper .liza_simple_slide.active {
    opacity: 1;
    z-index: 10;
}

.liza_simple_slider_overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.liza_simple_slider_content {
    position: absolute;
    top: 50%;
    max-width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 17;
    width: calc(100% - 180px);
	max-width:550px;
	transition:transform 400ms, opacity 400ms;
}
.content_left .liza_simple_slider_content {
	text-align:left;
    left: 60px;
	transform: translate(0, -49%);
}
.content_middle .liza_simple_slider_content {
	text-align:center;
    left: 50%;
	transform: translate(-50%, -49%);
}
.content_right .liza_simple_slider_content {
	text-align:right;
    right: 60px;
	transform: translate(0, -49%);
}
.liza_simple_slider_content.liza_simple_slider_images_title h1,
.liza_simple_slider_content.liza_simple_slider_images_title h2,
.liza_simple_slider_content.liza_simple_slider_images_title h3,
.liza_simple_slider_content.liza_simple_slider_images_title h4,
.liza_simple_slider_content.liza_simple_slider_images_title h5,
.liza_simple_slider_content.liza_simple_slider_images_title h6 {
	margin:0;
}

.liza_simple_slider_content h1 {
	line-height:82px;
}

.liza_simple_slider_content .liza_simple_slider_title:empty,
.liza_simple_slider_content .liza_simple_slider_caption:empty {
    display: none;
}

.liza_simple_slider_content .liza_simple_slider_title {
    margin-bottom: 41px;
}

.liza_simple_slider_content .liza_simple_slider_caption {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 56px;
}

.liza_simple_slider_button_wrapper a.liza_button {
    padding: 19px 60px 17px 60px;
	font-size:13px;
	line-height:20px;
	text-transform:uppercase;
	color:#ffffff;
	border:2px solid #ffffff;
	border-radius:0;
    transition: background 400ms, border 400ms;
}
.liza_simple_slider_controls {
	position:absolute;
	right:55px;
	top:50%;
	transform:translateY(-50%);
	z-index:17;
}
.content_right .liza_simple_slider_controls {
	right:auto;
	left:55px;
}
.liza_simple_slider_controls a {
	display:block;
	width:20px;
	height:20px;
	transition:opacity 400ms;
}
.liza_simple_slider_controls a.liza_simple_slider_fullview {
	display:none;
}
.liza_simple_slider_controls a.liza_button_next {
	margin:58px 0 0 0;
}
.liza_stand_alone_slider .liza_simple_slider_controls a.liza_simple_slider_fullview {
	display:block;
}
.liza_stand_alone_slider .liza_simple_slider_controls a.liza_button_next {
	margin:58px 0;
}
.liza_simple_slider_controls a:hover {
	opacity:0.5;
}
.liza_fullview_mode.liza_simple_slider_wrapper.liza_simple_slider_started .liza_simple_slider_content {
	transform:translate(0%,-50%);
	opacity:0;
	pointer-events: none;
}
.liza_simple_slider_wrapper .liza_slider_sharing_block {
	transition:opacity 400ms;
}
.liza_fullview_mode .liza_slider_sharing_block,
.liza_fullview_mode .liza_button_prev,
.liza_fullview_mode .liza_button_next {
	pointer-events: none;
	opacity:0;
}
.liza_fullview_mode .liza_button_fullview {
	opacity:0.3;
}
.liza_fullview_mode .liza_button_fullview:hover {
	opacity:0.5
}
.liza_fullview_mode header.liza_header {
	opacity:0;
	pointer-events: none;
}

/* Counter */
.liza_counter_content {
	text-align:left;
}
.liza_counter_content .liza_stat_count {
	font-size:72px;
	line-height:74px;
	font-weight:bold;
	margin:11px 0 0 32px;
}
.liza_counter_content .liza_counter_title {
	margin:0;
}
.liza_counter_content .liza_counter_title span {
	display:inline-block;
	vertical-align:middle;
	margin:0 21px 0 0;
	transform:translateY(-2px);
	width:15px;
	height:2px;
}
.liza_stat_temp {
	width:0px;
}

/* Promo Block */
.promo_block_image_wrapper {
	position:relative;
	display:block;
}
.promo_block_image_wrapper img {
	display:block;
	width:100%;
	height:auto;
}
.promo_block_image_wrapper a {
	display:block;
}
.promo_block_image_wrapper .promo_block_overlay {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:block;
	opacity:0;
	transition:opacity 400ms;
	background:rgba(0,0,0,0.6);
}
.promo_block_image_wrapper:hover .promo_block_overlay {
	opacity:1;
}
@media only screen and (max-width: 1024px) {
    .promo_block_image_wrapper .promo_block_overlay {
        opacity:1;
    }
    .promo_block_image_wrapper .promo_block_content {
        opacity:1;
    }
}
.promo_block_content {
	position:absolute;
	left:0;
	top:50%;
	transform:translateY(-50%);
	display:block;
	text-align:center;
	transition:opacity 400ms;
	width:100%;
	opacity:0;
	padding:0 15px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.promo_block_content div,
.promo_block_content h5 {
	color:#ffffff;
	pointer-events: none;
}
.promo_block_content div:empty,
.promo_block_content h5:empty {
	display:none;
}
.promo_block_image_wrapper:hover .promo_block_content {
	opacity:1;
}
.promo_block_button {
	display:block;
	text-align:center;
	text-transform:uppercase;
	font-size:13px;
	line-height:20px;
	padding:20px 20px 20px 20px;
	background:#13151c;
	color:#ffffff;
}

/* Skills Module */
.liza_skill_block_wrapper {
	background:#13151c;
	text-align:center;
}
.liza_skill_caption,
.liza_skill_title {
	color:#ffffff;
	padding:0 30px;
}
.liza_skill_bar_background {
	background:#1c1e25;
}
.liza_skill_dot,
.liza_skill_bar {
	background:#303342;
}
.liza_skill_value {
	color:#ffffff;
}
.liza_skill_title {
	display:block;
	padding:33px 0 0 0;
	margin:0 0 22px 0;
}
.liza_skill_caption {
	font-size:14px;
	line-height:21px;
}
.liza_skill_block_image_wrapper {
	display:inline-block;
	width:100px;
	height:100px;
	border-radius:100%;
	margin:0 auto 19px auto;
}
.liza_skill_block_image_wrapper img {
	width:100%;
	height:100%;
	display:block;
	border-radius:100%;
}
.liza_skill_bar_wrapper {
	margin-top:10px;
	height:40px;
	display:block;
	overflow:hidden;
	transform:translateY(5px);
	padding-top:30px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
.liza_skill_bar_background {
	position:relative;
	display:block;
	width:100%;
	height:5px;
}
.liza_skill_bar {
	position:relative;
	width:10px;
	height:5px;
	display:block;
}
.liza_skill_dot {
	height:15px;
	width:5px;
	display:block;
	position:absolute;
	top:-5px;
	right:-2px;
	z-index:5;
}
.liza_skill_value {
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:-23px;
	font-size:14px;
	z-index:5;
}

/* Ribbon Slider */
.liza_ribbon_slider_wrapper {
	position:relative;
	display:block;
	overflow:hidden;
}
.liza_stand_alone_slider.liza_ribbon_slider_wrapper {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.liza_ribbon_fs_on.liza_ribbon_slider_wrapper {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.liza_ribbon_slider {
	margin:0;
	padding:0;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:13;
	transition:opacity 500ms;
}
.liza_ribbon_slider .liza_ribbon_slide {
	list-style:none;
	padding:0;
	margin:0;
	height:100%;
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 13;
    transition: left 600ms, opacity 600ms, transform 600ms;
    -webkit-transition: left 600ms, opacity 600ms, transform 600ms;	
}
.liza_ribbon_slider .liza_ribbon_slide.active {
    z-index: 15;
}
.liza_ribbon_slider .liza_ribbon_slide.liza_new_slide {
    transition: none!important;
}
.liza_ribbon_slider .liza_ribbon_slide img {
	width: auto;
	max-width: none;
	height: 100%;
	display: block;
	margin: 0 0;
    position: relative;
    z-index: 10;
}
.liza_ribbon_slider .liza_ribbon_slide iframe {
	display:block;
	margin:0;
}

.liza_ribbon_title_content {
	position:absolute;
	left:60px;
	bottom:8px;
	z-index:16;
	text-align:left;
	width:calc(100% - 520px);
	max-width:620px;
}
.liza_stand_alone_slider .liza_ribbon_title_content {
	bottom:50px;
}
.liza_ribbon_title_content h1 {
	line-height:82px;
}

.liza_ribbon_overlay_active,
.liza_ribbon_overlay {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display:block;
	z-index:15;
	transition:opacity 400ms;
	opacity:0;
}
.liza_ribbon_overlay {
	background:rgba(0,0,0,0.75);
}
.liza_ribbon_overlay_active {
	background:rgba(0,0,0,0.2);
}
.liza_ribbon_overlay {
	opacity: 1;
}
.active .liza_ribbon_overlay {
    opacity: 0;
}
.active .liza_ribbon_overlay_active {
	opacity: 1;
}

.liza_ribbon_prevSlide,
.liza_ribbon_nextSlide {
	position:absolute;
	top:50%;
	padding:0;
	width:40px;
	height:40px;
	display:inline-block;
	border-radius:20px;
	transition:opacity 300ms;
	letter-spacing:2px;
	margin-left:0;
	margin-top:-20px;
	z-index:20;
}
.has_admin_bar .liza_ribbon_prevSlide,
.has_admin_bar .liza_ribbon_nextSlide {
	margin-top:-4px;
}

.liza_ribbon_prevSlide:after,
.liza_ribbon_nextSlide:after,
.liza_ribbon_prevSlide:before,
.liza_ribbon_nextSlide:before {
	content:'';
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
}
.liza_ribbon_prevSlide {
	left:30px;
}
.liza_ribbon_nextSlide {
	right:30px;
}

.liza_ribbon_slider:after,
.liza_ribbon_slider:before {
	content: '';
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -20px 0 0 -20px;
    border: #303342 3px solid;
    border-radius: 50%;
    box-shadow: none;
	opacity: 1;
    z-index: 5;
}
.liza_ribbon_slider:after {
    -webkit-animation: spin_border 600ms infinite;
    -o-animation: spin_border 600ms infinite;
    animation: spin_border 600ms infinite;
    border-color: #ffffff transparent transparent transparent;
}

@keyframes spin_border {
	0% {
        transform: rotate(0deg);
	}
    25% {
        transform: rotate(90deg);
    }
	50% {
        transform: rotate(180deg);
	}
    75% {
        transform: rotate(270deg);
    }
	100% {
        transform: rotate(360deg);
	}
}

.liza_ribbon_slider .liza_ribbon_slide img {
	opacity: 1;
	transition:opacity 500ms;
}
.liza_ribbon_slider .liza_ribbon_slide.liza_block_loaded:before {
	z-index:-10!important;
	opacity:0;
}
.liza_ribbon_slider .liza_ribbon_slide.liza_block_loaded img {
	opacity:1;
}

.liza_slider_sharing_block {
	position:absolute;
	bottom:58px;
	right:50px;
	z-index:24;
}
.liza_slider_sharing_block span {
	display:inline-block;
	padding-right:59px;
	position:relative;
	font-size:12px;
	line-height:20px;
	margin:0 22px 0 0;
}
.liza_slider_sharing_block a {
	display:inline-block;
	text-align:center;
	width:20px;
	margin:0 8px 0 8px;
	font-size:15px;
	line-height:20px;
	transform:translateY(3px);
	transition:opacity 400ms;
}
.liza_slider_sharing_block a:hover {
	opacity:0.5;
}
.liza_slider_sharing_block span:before {
	content:'';
	width:40px;
	height:2px;
	display:block;
	position:absolute;
	right:0;
	top:50%;
	margin-top:0;
}

/* Projects Listing */
.liza_project_post_inner {
	overflow:hidden;
	position:relative;
}
.liza_projects_inner > .liza_project_post_wrapper:nth-child(odd) .liza_project_content_part,
.liza_projects_inner > .liza_project_post_wrapper:nth-child(even) .liza_project_image_part {
	float:left;
}
.liza_projects_inner > .liza_project_post_wrapper:nth-child(odd) .liza_project_image_part,
.liza_projects_inner > .liza_project_post_wrapper:nth-child(even) .liza_project_content_part {
	float:right;
}
.liza_projects_inner .liza_project_post_wrapper .liza_project_image_part,
.liza_projects_inner .liza_project_post_wrapper .liza_project_content_part {
	width:calc(50% - 30px);
	display:block;
	position:relative;
}
.liza_projects_inner .liza_project_post_wrapper .liza_project_image_part .liza_stand_fi_project_listing {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	transition:width 400ms;
	background-position:center;
	background-size:auto 100%;
	z-index:5;
}
.liza_projects_inner > .liza_project_post_wrapper:nth-child(even) .liza_project_image_part .liza_stand_fi_project_listing {
	left:0;
}
.liza_projects_inner > .liza_project_post_wrapper:nth-child(odd) .liza_project_image_part .liza_stand_fi_project_listing {
	right:0;
}
.project_listing_see_btn {
	display:inline-block;
	font-size:13px;
	line-height:20px;
	text-transform:uppercase;
	letter-spacing:1.2px;
	position:relative;
}
.liza_project_post_content .project_listing_see_btn {
	padding:15px 20px 15px 60px;
	margin-top:14px;
	transition:color 400ms;
}
.liza_stand_fi_project_listing .project_listing_see_btn {
	position:absolute;
	bottom:160px;	
	display:block;
	transition:opacity 400ms;
	pointer-events: none;
	opacity:0;
}
.liza_stand_fi_project_listing:hover .project_listing_see_btn {
	pointer-events: auto;
	opacity: 1;
}
.liza_stand_fi_project_listing .project_listing_see_btn:before {
	pointer-events: none;
}
.project_listing_see_btn:before {
	content:'';
	width:40px;
	height:2px;
	display:block;
	position:absolute;
	top:50%;
	margin:-2px 0 0 0;
}
.liza_project_post_content .project_listing_see_btn:before {
	left:0;
	transition:background 400ms;
}
.liza_projects_inner > .liza_project_post_wrapper:nth-child(even) .liza_project_image_part .liza_stand_fi_project_listing .project_listing_see_btn {
	right:-60px;
	padding:15px 20px 15px 40px;
}
.liza_projects_inner > .liza_project_post_wrapper:nth-child(even) .liza_project_image_part .liza_stand_fi_project_listing .project_listing_see_btn:before {
	left:-20px;	
}
.liza_projects_inner > .liza_project_post_wrapper:nth-child(odd) .liza_project_image_part .liza_stand_fi_project_listing .project_listing_see_btn {
	padding:15px 40px 15px 20px;
	left:-60px;
}
.liza_projects_inner > .liza_project_post_wrapper:nth-child(odd) .liza_project_image_part .liza_stand_fi_project_listing .project_listing_see_btn:before {
	right:-20px;	
}

.liza_projects_inner .liza_project_post_wrapper .liza_project_image_part:hover .liza_stand_fi_project_listing {
	width:200%;
}
.liza_projects_inner .liza_project_post_wrapper {
	margin-top:120px;
}
.liza_projects_inner .liza_project_post_wrapper:first-child {
	margin-top:0;
}
.liza_project_post_wrapper .liza_project_content_part {
	transition:opacity 400ms;
	position:relative;
}
.liza_project_hovered .liza_project_content_part {
	opacity:0;
}
.liza_project_post_wrapper .liza_project_content_part .liza_project_post_content {
	position:absolute;
	top:50%;
	left:0;
	transform:translateY(-50%);
}
.grid_albums_loadmore_wrapper,
.grid_projects_loadmore_wrapper,
.projects_loadmore_wrapper {
	text-align:center;
}
.projects_loadmore_wrapper .projects_load_more {
	margin:120px auto 0 auto;
}
.grid_projects_loadmore_wrapper .projects_load_more {
	margin:30px auto 0 auto;
}
.liza_grid_post_title a h3 {
	margin-bottom:13px;
}
.grid_albums_loadmore_wrapper .projects_load_more {
	margin:60px auto 0 auto;	
}
.grid_albums_loadmore_wrapper .albums_load_more {
	margin:30px auto 0 auto;
}

/* Albums Grid */
.liza_albums_grid1 .liza_album_grid_post_wrapper {
	width:100%;
}
.liza_albums_grid2 .liza_album_grid_post_wrapper {
	width:50%;
}
.liza_albums_grid3 .liza_album_grid_post_wrapper {
	width:33.33%;
}
.liza_albums_grid4 .liza_album_grid_post_wrapper {
	width:25%;
}
.liza_albums_grid5 .liza_album_grid_post_wrapper {
	width:20%;
}
.liza_albums_grid6 .liza_album_grid_post_wrapper {
	width:16.66%;
}
.liza_album_grid_post_wrapper h5 {
	font-size:20px;
}
.liza_album_grid_image {
	margin:0 0 30px 0;
}
.liza_album_grid_image img,
.liza_album_grid_image a {
	display: block;
}
.liza_album_grid_image img {
	transition:opacity 500ms;
    backface-visibility: hidden;
}
.liza_album_grid_image:hover img {
	opacity:0.5;
}
.liza_grid_post_title h4 {
	margin:0 0 14px 0;
}
.liza_grid_post_title a {
	dispaly:inline-block;
}
.liza_grid_album_meta {
	padding:0 0 13px 34px;
}
body .liza_album_loading.liza_album_element {
	opacity:0;
	transition:opacity 500ms;
}


/* Project Grid */
.liza_project_grid_post_wrapper {
	margin-left:-1px;
}
.liza_projects_grid1 .liza_project_grid_post_wrapper {
	width:100%;
}
.liza_projects_grid2 .liza_project_grid_post_wrapper {
	width:50%;
}
.liza_projects_grid3 .liza_project_grid_post_wrapper {
	width:33.33%;
}
.liza_projects_grid4 .liza_project_grid_post_wrapper {
	width:25%;
}
.liza_projects_grid5 .liza_project_grid_post_wrapper {
	width:20%;
}
.liza_projects_grid6 .liza_project_grid_post_wrapper {
	width:16.66%;
}
.liza_project_grid_post_wrapper h5 {
	font-size:20px;
}
.liza_project_grid_image {
	margin:0 0 33px 0;
}
.liza_project_grid_image img {
	transition:opacity 500ms;
	width: 100%;
	height: auto;
}
.liza_project_grid_image:hover img {
	opacity:0.5;
}
.liza_grid_post_title h5 {
	margin:0 0 16px 0;
}
.liza_grid_post_title a {
	dispaly:inline-block;
}
.liza_grid_project_meta {
	padding:0 0 13px 34px;
}
body .liza_grid_post_element.liza_grid_post_loading,
body .liza_project_loading.liza_project_element {
	opacity:0;
	transition:opacity 500ms;
}

/* Ajax Query Posts Preloader*/
.liza_ajax_query_preloader {
	width:100%;
	text-align:center;
	font-size:0;
	line-height:0;
	transition:height 400ms, opacity 400ms, transform 400ms;
	transform:translateY(-15px);
	opacity:0;
	height:0;
	overflow:hidden;
}
.liza_projects .liza_ajax_query_preloader {
	transform:translateY(55px);
}
.liza_blog_grid .liza_ajax_query_preloader {
	transform:translateY(30px);
}
.liza_ajax_query_posts_active_preloader .liza_ajax_query_preloader {
	height:40px;
	opacity:1;
}
.liza_blog_grid.liza_ajax_query_posts_active_preloader .liza_ajax_query_preloader {
	height:70px;
}
.liza_ajax_query_posts_active_preloader .liza_ajax_query_posts_isotope,
.liza_ajax_query_posts_active_preloader .liza_ajax_query_posts {
	opacity:0.5;
}
.liza_ajax_query_preloader .liza_aqp_wrapper {
	margin:0 auto;
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
	overflow: hidden;
	transform-origin: bottom left;
	animation: bigSqrShrink 1s linear infinite;
}
.liza_ajax_query_preloader .liza_aqp_item {
	position: absolute;
	width: 18px;
	height: 18px;
	background: #ffffff;
	display:block;
}
.liza_ajax_query_preloader .liza_aqp_item1 {
	left: 0px;
	top: 20px;
}

.liza_ajax_query_preloader .liza_aqp_item2 {
	left: 20px;
	top: 20px;
	animation: drop2 1s linear infinite;
}
  
.liza_ajax_query_preloader .liza_aqp_item3 {
	left: 0px;
	top: 0px;
	animation: drop3 1s linear infinite;
}

.liza_ajax_query_preloader .liza_aqp_item4 {
	left: 20px;
	top: 0px;
	animation: drop4 1s linear infinite;
}
  
@keyframes bigSqrShrink {
	0% {
		transform: scale(1);
	}
	90% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.5);
	}
}
@keyframes drop2 {
	0% {
		transform: translateY(-50px);
	}
	25% {
		transform: translate(0);
	}
	100% {
		transform: translate(0);
	}
}   
@keyframes drop3 {
	0% {
		transform: translateY(-50px);
	}
	50% {
		transform: translate(0);
	}
	100% {
		transform: translate(0);
	}
}
 
@keyframes drop4 {
	0% {
		transform: translateY(-50px);
	}
	75% {
		transform: translate(0);
	}
	100% {
		transform: translate(0);
	}
}