/*---------------------
[Responsive Stylesheet]
---------------------*/
/* Mobile Menu */
.liza_mobile_menu_wrapper,
.liza_mobile_menu_wrapper ul.sub-menu,
.liza_mobile_header {
    display: none;
}

@media only screen and (max-width: 1200px) {
	.liza_aside_menu_wrapper,
	header.liza_header {
		display:none;
	}
	.liza_mobile_menu_wrapper ul.sub-menu,
	.liza_mobile_header {
		display: block;
		position:relative;
		z-index:101;
	}	
	a.liza_menu_toggler_mobile span.liza_menu_ico {
		top:50%;
		margin-top:-11px;
		transition:left 400ms;
	}
	.liza_menu_opened .liza_menu_toggler_mobile  span.liza_menu_ico {
		left:50px;
	}
	.liza_mobile_header_wrapper {
		font-size:0;
		line-height:0;
	}
	.liza_mobile_header_logo {
		padding-left:38px;
		width:50%;
		display:inline-block;
		text-align:left;
		vertical-align:middle;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.liza_mobile_button_wrapper {
		padding-right:38px;
		width:50%;
		display:inline-block;
		text-align:right;
		vertical-align:middle;		
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.liza_mobile_menu ul {
		padding:0;
		margin:0;
	}
	.liza_mobile_menu ul li {
		padding:0;
		margin:0;
		list-style:none;
	}
	.liza_mobile_menu ul.sub-menu {
		padding:0 0 15px 30px;
	}
	.liza_mobile_menu ul.sub-menu ul.sub-menu {
		padding:0 0 0 30px;
	}
	.liza_mobile_menu ul.liza_menu > li > a {
		padding:10px 0 10px 0;
	}
	.liza_mobile_menu ul.liza_menu {
		padding-bottom:30px;
	}
	body.error404, 
	.page-template-page-coming-soon {
		overflow:visible;
	}
	.liza_social_icons_mobile {
		margin:0 auto;
		display: block;
	}
	.liza_social_icons_mobile ul {
		margin-left: -9px;
		padding-bottom: 15px;
	}
}

/* Laptop */
@media only screen and (max-width: 1440px) {
	.liza_back_to_top {
		width:45px;
		height:45px;
		right:35px;
		bottom:35px;
	}
	.liza_back_to_top:after {
		font-size:35px;
		line-height:35px;
		margin-top:-20px;
	}

	/* Header Elements */
	header.logo_center .liza_header_left_part {
		padding-left:30px;
	}
	header.logo_center .liza_header_right_part {
		padding-right:30px;
	}

	header.logo_left .liza_header_left_part {
		width:calc(100% - 285px);
		display:inline-block;
		text-align:left;
		padding-left:30px;
	}
	header.logo_left .liza_header_right_part {
		padding-right:30px;
	}
	header.logo_left .liza_header_left_part .liza_logo_wrapper {
		margin-right:30px;
	}
	header.logo_left.menu_aside .liza_header_left_part .liza_logo_wrapper {
		margin-left:30px;
	}
	header.logo_right .liza_header_wrapper {
		padding:0 30px;
	}
	header.logo_right .liza_header_left_part {
		padding-right:30px;
	}
	header.logo_right .liza_layout_control {
		margin-left:30px;
	}
	header.menu_simple.logo_right .liza_layout_control {
		margin-right:30px;
	}
	
	/* Main Menu */
	.menu_simple_showed ul.liza_menu > li, 
	.menu_simple ul.liza_menu > li {
		margin-right:20px;
	}
	header.logo_center ul.liza_menu > li:last-child, 
	header.logo_center ul.liza_menu > li:last-child {
		margin:0;
	}
	header.menu_simple.liza_menu_opened .liza_main_nav {
		opacity:1;
		transform:translateX(-35px);
	}
	
	/* Footer */
	.liza_footer_left_part {
		padding-left:30px;
	}
	.liza_footer_right_part {
		padding-right:30px;
	}
	
	/* Templates */
	.liza_albums_ajax_template_image {
		margin-bottom:30px;
	}
	.liza_albums_ajax_template_content .liza_meta {
		padding-bottom:30px;
	}
	.liza_albums_ajax_template_content h1 {
		margin-bottom:20px;
	}
	.liza_albums_ajax_numbers_inner {
		padding:30px 0 30px 0;
	}
	.liza_cs_title {
		margin-bottom:20px;
	}
	.liza_cs_form {
		padding-top:40px;
	}
	.liza_element_wrap .countdown .item span {
		font-size:100px;
		line-height:110px;
	}
	.liza_404_content_wrapper, 
	.liza_cs_content_wrapper {
		transform:translateY(-40%);
	}
	.liza_cs_sharing {
		bottom:30px;
	}
}

@media only screen and (max-width: 1200px) {
	.liza_mobile_thumbs_toggler {
		width:16px;
		height:16px;
		display:block;
		border-radius:100%;
		background:#ffffff;
		position:absolute;
		left:0;
		top:50%;
		margin:-8px 0 0 -7px;
		z-index:44;
		display:block;
	}	
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
    /* Ipad Land */
    .liza_container {
        width: 940px;
    }
	.liza_boxed_inner {
		padding-left: calc(50vw - 470px);
		padding-right: calc(50vw - 470px);
	}

    html.has_admin_bar.liza_height_100 {
        height: calc(100% - 32px);
    }
	.liza_back_to_top {
		width:40px;
		height:40px;
		right:25px;
		bottom:25px;
	}
	.liza_back_to_top:after {
		font-size:30px;
		line-height:30px;
		margin-top:-17px;
	}
	.liza_content_no_sidebar {
		width: 940px;
	}
	.liza_content_w_sidebar {
		width:700px;
	}
	.liza_sidebar {
		width:210px;
	}
	.liza_right_sidebar .liza_sidebar {
		margin-left:30px;
	}
	.liza_left_sidebar .liza_sidebar {
		margin-right:30px;
	}
	.liza_element_wrap .countdown .item {
		margin:0 40px;
	}
	
	/* Grid Projects And Albums */
	.liza_grid_album_meta.liza_meta div:after,
	.liza_grid_album_meta.liza_meta div,
	.liza_grid_project_meta.liza_meta div:after,
	.liza_grid_project_meta.liza_meta div {
		display:none;
	}
	.liza_grid_album_meta.liza_meta div:first-child,
	.liza_grid_project_meta.liza_meta div:first-child {
		display:block;
	}
	.liza_albums_slider_thumbs {
		display:none;
	}
	.liza_albums_slide_content {
		left:100px;
	}

}

@media only screen and (min-width: 760px) and (max-width: 960px) {
    /* Ipad Port */
    html.has_admin_bar.liza_height_100 {
        height: calc(100% - 46px);
    }
	.liza_container,
	.liza_content_no_sidebar {
		width: 724px;
	}
	.liza_boxed_inner {
		padding-left: calc(50vw - 362px);
		padding-right: calc(50vw - 362px);
	}
	.liza_social_icons_mobile,
	.liza_mobile_menu.liza_container {
		padding:0 25px;
	}
	.liza_element_wrap .countdown .item {
		margin:0 30px;
	}
	.liza_element_wrap .countdown .item span {
		font-size:80px;
		line-height:90px;
	}

	.liza_content_no_sidebar {
		width: 724px;
	}
	.liza_content_w_sidebar {
		width:724px;
	}
	.liza_sidebar {
		width:724px;
	}
	.liza_right_sidebar .liza_sidebar {
		margin-left:0;
	}
	.liza_left_sidebar .liza_sidebar {
		margin-right:0;
	}
	.liza_content_w_sidebar.liza_content {
		margin-bottom:40px;
	}
	.liza_sidebar {
		margin-top:40px;
	}
	
	/* Grid Projects And Albums */
	.liza_grid_album_meta.liza_meta div:after,
	.liza_grid_album_meta.liza_meta div,
	.liza_grid_project_meta.liza_meta div:after,
	.liza_grid_project_meta.liza_meta div {
		display:none;
	}
	.liza_grid_album_meta.liza_meta div:first-child,
	.liza_grid_project_meta.liza_meta div:first-child {
		display:block;
	}
	.liza_albums_slider_thumbs {
		display:none;
	}
	.liza_albums_slide_content {
		left:100px;
	}
	
	/* Custom Fixes */
	.liza_icons_line_item {
		text-align:center;
	}
	
	/* Modules */
	.liza_ribbon_title_content {
		width:75%;
	}
	
	.liza_albums_grid2 .liza_album_grid_post_wrapper,
	.liza_albums_grid3 .liza_album_grid_post_wrapper,
	.liza_albums_grid4 .liza_album_grid_post_wrapper,
	.liza_albums_grid5 .liza_album_grid_post_wrapper,
	.liza_albums_grid6 .liza_album_grid_post_wrapper {
		width:50%;
	}
	.liza_projects_grid2 .liza_project_grid_post_wrapper,
	.liza_projects_grid3 .liza_project_grid_post_wrapper,
	.liza_projects_grid4 .liza_project_grid_post_wrapper,
	.liza_projects_grid5 .liza_project_grid_post_wrapper,
	.liza_projects_grid6 .liza_project_grid_post_wrapper {
		width:50%;
	}
	.grid_columns2 .grid-item,
	.grid_columns3 .grid-item,
	.grid_columns4 .grid-item,
	.grid_columns5 .grid-item,
	.grid_columns6 .grid-item {
		width:50%;
	}
	.liza_prev_post,
	.liza_next_post {
		width:50%;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		display:inline-block;
	}
	.liza_featured_posts > div {
		margin-top:30px;
	}
	.liza_featured_posts > div:first-child {
		margin-top:0;
	}
	.liza_blog_grid1 .liza_grid_post_wrapper,
	.liza_blog_grid2 .liza_grid_post_wrapper,
	.liza_blog_grid3 .liza_grid_post_wrapper,
	.liza_blog_grid4 .liza_grid_post_wrapper,
	.liza_blog_grid5 .liza_grid_post_wrapper,
	.liza_blog_grid6 .liza_grid_post_wrapper {
		width:50%;
	}

	/* Responsive Custom Classes*/
	.liza_home02_block_img {
		padding-left: 20px;
		padding-right: 20px;
	}
	.liza_home02_bg_block {
		min-height: 250px;
		position: relative;
	}
	.liza_home02_bg_block .liza_column_wrapper {
		position: absolute;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.liza_resp_convert_3in2,
	.liza_resp_convert_4in2,
	.liza_resp_restore_2cols,
	.liza_resp_restore_4cols,
	.liza_resp_restore_3cols,
	.liza_promo_3images {
		display: block;
		font-size: 0;
	}
	.liza_promo_3images img {
		width:100%;
		height: auto;
		display: block;
	}
	.liza_promo_3images .col-4,
	.liza_resp_convert_3in2 .col-4,
	.liza_resp_convert_4in2 .col-3,
	.liza_resp_restore_2cols .col-6,
	.liza_resp_restore_4cols .col-3,
	.liza_resp_restore_3cols .col-4 {
		display: inline-block;
		vertical-align: top;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	body .liza_resp_restore_2cols .col-6,
	body .liza_resp_convert_4in2 .col-3,
	body .liza_resp_convert_3in2 .col-4 {
		width:50%;
	}
	body .liza_promo_3images .col-4,
	body .liza_resp_restore_3cols .col-4 {
		width:33.33%;
	}
	body .liza_resp_restore_4cols .col-3 {
		width:25%;
	}
	.liza_resp_convert_4in2 .col-3:nth-child(1),
	.liza_resp_convert_4in2 .col-3:nth-child(2) {
		padding-bottom:40px;
	}
	.liza_home01_promo.liza_resp_restore_3cols .col-4 {
		padding-left:0;
		padding-right:0;
	}
}

/* Ipad Port + iPhone */
@media only screen and (max-width: 960px) {
	.liza_no_mobile_gutters {
		margin-left: 0;
		margin-right: 0;
	}
	.liza_no_mobile_gutters .col {
		padding-left: 0;
		padding-right: 0;
	}
	.liza_set_fullheight {
		display: flex;
		flex-direction: row;
	}
	body .col-1,
	body .col-2,
	body .col-3,
	body .col-4,
	body .col-5,
	body .col-6,
	body .col-7,
	body .col-8,
	body .col-9,
	body .col-10,
	body .col-11,
	body .col-12 {
		width:100%;
	}

	.liza_back_to_top {
		display:none;
	}
    .col-md-12.liza_content,
    .col-md-12.liza_def_header {
        width: 100%;
        float: left;
    }

    .liza_left_sidebar .liza_sidebar,
    .liza_left_sidebar .liza_content {
        float: none;
    }

    .liza_copyright {
        margin-top: 0;
    }

    .container.copyright_area .col-md-12 {
        width: 100%;
        float: left;
    }
	body .liza_projects_with_slider .liza_simple_slider_content {
		max-width: 600px;
	}
}

/* Iphone All */
@media only screen and (max-width: 760px) {
	body .liza_projects_with_slider .liza_simple_slider_content {
		max-width: 250px;
	}
	.liza_ribbon_title_content {
		width:75%;
	}
	#wpadminbar {
		top:-46px;
	} 
	.liza_albums_grid2 .liza_album_grid_post_wrapper,
	.liza_albums_grid3 .liza_album_grid_post_wrapper,
	.liza_albums_grid4 .liza_album_grid_post_wrapper,
	.liza_albums_grid5 .liza_album_grid_post_wrapper,
	.liza_albums_grid6 .liza_album_grid_post_wrapper {
		width:100%;
	}
	.liza_projects_grid2 .liza_project_grid_post_wrapper,
	.liza_projects_grid3 .liza_project_grid_post_wrapper,
	.liza_projects_grid4 .liza_project_grid_post_wrapper,
	.liza_projects_grid5 .liza_project_grid_post_wrapper,
	.liza_projects_grid6 .liza_project_grid_post_wrapper {
		width:100%;
	}
	.grid_columns2 .grid-item,
	.grid_columns3 .grid-item,
	.grid_columns4 .grid-item,
	.grid_columns5 .grid-item,
	.grid_columns6 .grid-item {
		width:100%;
	}
	.liza_prev_post,
	.liza_next_post {
		width:100%;
		display: block;
		vertical-align: top;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		display:inline-block;
	}
	.liza_featured_posts > div {
		margin-top:30px;
	}
	.liza_featured_posts > div:first-child {
		margin-top:0;
	}
	.liza_blog_grid1 .liza_grid_post_wrapper,
	.liza_blog_grid2 .liza_grid_post_wrapper,
	.liza_blog_grid3 .liza_grid_post_wrapper,
	.liza_blog_grid4 .liza_grid_post_wrapper,
	.liza_blog_grid5 .liza_grid_post_wrapper,
	.liza_blog_grid6 .liza_grid_post_wrapper {
		width:100%;
	}

    html.has_admin_bar.liza_height_100 {
        height: 100%;
		margin:0!IMPORTANT;
    }
	.liza_container,
	.liza_content_no_sidebar {
		width: calc(100% - 20px);
		margin:0 10px;
	}
	.liza_boxed_inner {
		padding-left: 10px;
		padding-right: 10px;
	}
	.liza_social_icons_mobile,
	.liza_mobile_menu.liza_container {
		padding:0 10px;
	}
	.liza_element_wrap .countdown .item {
		margin:0 0px;
	}
	.liza_element_wrap .countdown .item span.label {
		font-size:12px;
	}
	.liza_element_wrap .countdown .item span {
		font-size:26px;
		line-height:30px;
	}
	.liza_cs_form {
		padding-top:30px;
	}
	.liza_404_content_inner, 
	.liza_cs_content_inner {
		padding:0 20px;
	}
	.liza_cs_sharing {
		display:none;
	}
	.liza_cs_form .your-email, 
	.liza_cs_form input[type="email"] {
		width:250px;
	}
	.liza_mobile_menu ul.liza_menu > li > a {
		padding:0 0 5px 0;
	}

	.liza_content_no_sidebar {
		width: calc(100% - 20px);
		margin:0 10px;
	}
	.liza_content_no_sidebar {
		margin-bottom:40px;
	}
	.single-project .liza_content, 
	.single-post .liza_content {
		margin-top:50px;
	}
	.liza_content_w_sidebar {
		width:calc(100% - 20px);
		margin:0 10px;
	}
	.liza_sidebar {
		width:calc(100% - 20px);
		margin:0 10px;
	}
	.liza_right_sidebar .liza_sidebar {
		margin:0 10px;
	}
	.liza_left_sidebar .liza_sidebar {
		margin:0 10px;
	}
	.liza_content_w_sidebar.liza_content {
		margin-bottom:40px;
	}
	.liza_right_sidebar .liza_sidebar,
	.liza_left_sidebar .liza_sidebar {
		margin-top:30px;
	}
	
	.liza_content,
	.liza_content_no_sidebar,
	.liza_content_w_sidebar {
		margin-top:50px;
	}

	/* Grid Projects And Albums */
	.liza_grid_album_meta.liza_meta div:after,
	.liza_grid_album_meta.liza_meta div,
	.liza_grid_project_meta.liza_meta div:after,
	.liza_grid_project_meta.liza_meta div {
		display:none;
	}
	.liza_grid_album_meta.liza_meta div:first-child,
	.liza_grid_project_meta.liza_meta div:first-child {
		display:block;
	}
	.liza_albums_slider_thumbs {
		display:none;
	}
	.liza_albums_slide_content {
		left:20px;
	}
	
	.liza_title_breadcrumb_wrapper .liza_title_breadcrumb_inner {
		padding:40px 0 20px 0;
	}
	.liza_title_breadcrumb_wrapper .liza_title_breadcrumb_inner .liza_title {
		padding:10px 10px;
	}
	.liza_title_breadcrumb_wrapper .liza_breadcrumbs {
		padding-left:11px;
	}
	.liza_scroll_to_explore {
		bottom:80px;
		left:-60px;
	}
	.liza_albums_slide_title {
		font-size:30px;
		line-height:35px;
	}
	.liza_albums_slide_meta {
		padding:0 0 0 30px;
	}
	.liza_albums_slide_meta:before {
		width:20px;
	}
	
	/* Custom Fixes */
	.liza_icons_line_item {
		margin-bottom: 20px;
	}
	.liza_counter {
		margin-bottom: 20px;
	}
	.liza_home02_block_img {
		padding-left: 40px;
		padding-right: 40px;
	}
	body .liza_footer_left_part, 
	body .liza_footer_right_part {
		display: block;
		width: 100%;
		padding: 0 10px;
		text-align: center;
	}
	body .liza_footer_left_part {
		padding-bottom: 30px;
	}
	body .liza_footer_right_part {
		padding-top: 30px;
	}
	
	body footer.liza_footer {
		text-align:center;
		padding:30px 0 27px 0;
	}
	.liza_home03_image_line .liza_promo_block_wrapper {
		width: 100%;
	}
	.liza_home02_bg_block {
		min-height: 250px;
		position: relative;
	}
	.liza_home02_bg_block .liza_column_wrapper {
		position: absolute;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	.liza_home02_bg_block .liza_column_wrapper .liza_button {
		padding-left: 40px;
		padding-right: 40px;
	}
	
	.liza_element_blog .liza_post_preview {
		padding-top:40px;
		margin-top:30px;
	}
	.liza_pf_video_cont,
	.liza_post_formats.liza_pf_audio,
	.liza_post_formats.liza_pf_video,
	.liza_post_formats iframe {
		max-height:200px;
	}
	.liza_prev_post {
		margin-bottom:10px;
	}
	.liza_post_footer {
	    margin: 30px 0 40px 0;
	    padding: 30px 0 30px 0;
	}
	.liza_post_footer .liza_post_tags, 
	.liza_post_footer .liza_post_share {
		width:100%;
		text-align:center;
	}
	.liza_post_footer .liza_post_tags {
		margin-bottom:20px;
	}
	.has_admin_bar .liza_comment_reply_wrapper {
		padding-top:0px;
		transform:translateY(-10px);
	}
	.liza_comment_wrapper {
		padding-bottom:30px;
	}

	/* Typography */
	h1 {
		font-size: 30px;
		line-height: 35px;
		margin:0 0 34px 0;
	}
	
	h2 {
		font-size: 25px;
		line-height: 30px;
		margin:0 0 36px 0;
	}
	
	h3 {
		font-size: 20px;
		line-height: 25px;
		margin:0 0 40px 0;
	}
	
	h4 {
		font-size: 18px;
		line-height: 23px;
		margin:0 0 44px 0;
	}
	
	h5 {
		font-size: 16px;
		line-height: 21px;
		margin:0 0 45px 0;
		text-transform:uppercase;
		letter-spacing:1.8px;
	}
	
	h6 {
		font-size: 13px;
		line-height: 18px;
		margin:0 0 20px 0;
		text-transform:uppercase;
		letter-spacing:1.3px;
	}
	
	/* Customs */
	.liza_home01_promo .col.col-4 {
		padding-top:20px!important;
	}
	.liza_home01_promo .col.col-4:first-child {
		padding-top:0!important;
	}
	.liza_home01_promo img {
		margin:0!important;
	}
	.liza_projects_with_slider .liza_simple_slider_content {
		width:calc(100% - 40px);
	}
	.liza_projects_inner > .liza_project_post_wrapper .liza_project_image_part, 
	.liza_projects_inner > .liza_project_post_wrapper .liza_project_content_part {
		width:100%;
		float:none;
	}
	.liza_projects_inner > .liza_project_post_wrapper .liza_project_image_part {
		max-height:250px;
	}
	.liza_projects_inner > .liza_project_post_wrapper .liza_project_content_part {
		padding-top:30px;
	}
	.projects_loadmore_wrapper .projects_load_more,
	.liza_projects_inner .liza_project_post_wrapper {
		margin-top:50px;
	}
	.liza_simple_slider_content h1 {
		line-height:35px;
	}
	.liza_404_content_wrapper h1 {
		font-size:30px;
		line-height:35px;
	}
	.search_wrapper404 input[type="text"] {
		width:250px;
	}
	.liza_404_content_wrapper p, 
	.liza_cs_content_wrapper p {
		font-size:13px;
		line-height:20px;
	}
	.search_wrapper404 {
		padding-top:30px;
	}
	.liza_skill_block_wrapper {
		margin-bottom:30px;
	}
	.liza_promo_text_wrapper.liza_promo_has_button .liza_promo_text_button_wrapper,
	.liza_promo_text_wrapper.liza_promo_has_button .liza_promo_text_inner {
		width:100%;
		float:none;
	}
	.liza_promo_text_wrapper.liza_promo_has_button .liza_promo_text_button_wrapper {
		 text-align:center;
	}
	.liza_erase_row_paddig {
		padding:0 0 30px 0!important;
	}
	.content_left .liza_simple_slider_content {
		left:30px;
		width:calc(100% - 75px);
	}
	
	/* Albums Content Slider */
	.liza_albums_ajax_template_wrapper,
	.liza_albums_ajax_slider {
		width: 100%;
		height: 50%;
	}
	.liza_albums_ajax_template_wrapper {
		left: 0; 
		top: 0;
	}
	.liza_albums_ajax_template_inner {
		width: calc(100% - 30px);
		left: 15px;
	}
	.liza_albums_ajax_slider {
		right: auto;
		top: auto;
		left: 0;
		bottom: 0;
		transition: height 500ms;
	}
	body .liza_fullscreen_fullview .liza_albums_ajax_slider {
		height: 100%;
	}
	
	.liza_albums_ajax_template_content .liza_meta {
		display: none;
	}
	.liza_albums_ajax_numbers_inner {
		padding: 0 0 10px 0;
	}
	.liza_albums_ajax_numbers {
		height: 50px;
	}
	.liza_albums_ajax_template_content h1 {
		font-size: 20px;
		line-height: 25px;
		padding-bottom: 15px;
	}
	.liza_albums_ajax_template_image {
		margin: 0 0 15px 0;
	}
	
	body .liza_albums_ajax_template_wrapper_mobile {
		display:block;
		padding:0 10px;
	}
	.liza_button_prev.liza_albums_ajax_slider_prev {
		bottom: 20px;
		left: 50%;
		transform: translateX(-100px;)
	}
	.liza_albums_ajax_controls {
		right: auto;
		top: auto;
		bottom: 20px;
		left: 0;
		width: 100%;
		height: 20px;
		text-align: center;
	}
	.liza_albums_ajax_controls a {
		position: absolute;
		left: 50%;
		top: 0;
	}
	.liza_albums_ajax_controls a:hover {
		opacity: 1;
	}
	.liza_albums_ajax_controls a.liza_albums_ajax_slider_fullview {
		margin: 0 0 0 -10px;
	}
	.liza_albums_ajax_controls a.liza_albums_ajax_slider_prev {
		margin: 0 0 0 -100px;
	}
	.liza_albums_ajax_controls a.liza_albums_ajax_slider_next {
		margin: 0 0 0 90px;
	}
	.liza_fullscreen_fullview .liza_albums_ajax_slider_fullview:hover,
	.liza_fullscreen_fullview .liza_albums_ajax_slider_prev:hover, 
	.liza_fullscreen_fullview .liza_albums_ajax_slider_next:hover,
	.liza_fullscreen_fullview .liza_albums_ajax_slider_fullview,
	.liza_fullscreen_fullview .liza_albums_ajax_slider_prev, 
	.liza_fullscreen_fullview .liza_albums_ajax_slider_next {
		opacity: 1;
		pointer-events: all;
	}
	
	.page-template-page-coming-soon .liza_mobile_header_wrapper {
		text-align:center;
	}
	.page-template-page-coming-soon .liza_mobile_header_wrapper .liza_mobile_header_logo {
		padding-left:0;
		padding-right:0;
		margin:0 auto;
		display:block;
		text-align:center;
	}
	.page-template-page-coming-soon .liza_mobile_header_wrapper .liza_mobile_header_logo a {
		display:inline-block;
	}
	
	body .liza_header_slider {
		height:100%;
		min-height:100%;
		margin-top:0px;
	}
	
	.liza_home01_promo {
		margin-bottom:30px!important;
	}
	.liza_home02_testimonials {
		margin-bottom:40px;
	}
	.liza_home03_top {
		height:100%!important;
		margin-top:-97px!important;
	}
	.liza_disable_footer_padding {
		margin-bottom:-41px;
	}
	.liza_cs_content_wrapper .liza_cs_form input[type="email"],
	.liza_404_content_wrapper .search_wrapper404 input[type="text"] {
		display:block;
		margin:0 auto;
	}
	.liza_cs_content_wrapper .liza_cs_form input[type="submit"],
	.liza_404_content_wrapper .search_wrapper404 input[type="submit"] {
		border:none;
		display:block;
		margin:20px auto 0 auto;
	}
	.liza_404_content_wrapper .liza_search_form {
		text-align:center;
	}
	.liza_blockquote_block01.wpb_text_column.wpb_content_element,
	.liza_blockquote01.wpb_text_column.wpb_content_element {
		margin-bottom:0!important;
		padding-bottom:0!important;
	}
	body blockquote {
		margin-bottom:30px;
	}
	.widget_lizafeaturedposts h6 {
		margin-bottom:5px;
	}
	.liza_filter_block {
		margin-bottom:40px;
	}
	body .nav-links {
		text-align:center;
		margin-right:-6px;
	}
	.liza_albums_ajax_template_wrapper_mobile {
		padding-bottom:50px;
	}
	.liza_promo_3images .col {
		padding-top: 20px!important;
	}
	body .liza_project_content_part,
	body .liza_project_image_part {
		float: none;
	}
	body .liza_project_content_part {
		height: auto;
	}
	.liza_project_post_wrapper .liza_project_content_part .liza_project_post_content {
		position: static;
		transform: none;
	}
	.liza_albums_ajax_controls .liza_button_fullview  {
		display: none;
	}
}

@media only screen and (min-width: 420px) and (max-width: 760px) {
    /*iPhone 6+*/
}

@media only screen and (min-width: 400px) and (max-width: 420px) {

}