/*
 * Created by Pixel-Mafia
 * www.pixel-mafia.com
*/

body {
	background-color: #1b0000;
}
h1, h2, h3, h4, h5, h6,
.tadreik_albums_ajax_item,
.tadreik_counter_content .tadreik_stat_count {
	color: #ffd59a;
	font-family: "Quicksand";
}

header .tadreik_logo_wrapper {
	padding-top: 38px;
	padding-bottom: 37px;
}
@media only screen and (max-width: 760px) {
	header .tadreik_logo_wrapper {
		padding-top: 19px;
		padding-bottom: 18.5px;
	}
	.tadreik_mobile_header_logo {
		padding-left: 19px!important;
	}
	.tadreik_mobile_button_wrapper {
		padding-right: 19px!important;
	}
	.tadreik_simple_slider_controls {
		margin-right: -5px;
		right: 19px;
	}
}

	header.logo_center .tadreik_header_middle_part {
		width: 145px;
	}
	header.logo_center .tadreik_header_left_part,
	header.logo_center .tadreik_header_right_part  {
		width: calc(50% - 73px);
	}
	header.logo_right .tadreik_header_right_part {
		width: 145px;
	}		
	header.logo_right .tadreik_header_left_part {
		width: calc(100% - 145px);
	}

* {
	font-family: "Quicksand";
}
blockquote {
	color:#c3c5ce;
}
p, td, div {
	color:#c3c5ce;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	font-family: "Quicksand";
}			
.tadreik_mobile_header a,
.tadreik_mobile_header span,
.tadreik_header_wrapper span,
.tadreik_header_wrapper a {
	 font-family: "Quicksand";
	 font-weight: 400;
}
.tadreik_mobile_menu ul.sub-menu > li > a, 
.tadreik_aside_menu_wrapper ul.sub-menu > li > a,
.tadreik_mobile_menu ul.tadreik_menu > li > a, 
.tadreik_aside_menu_wrapper ul.tadreik_menu > li > a {
	font-family: "Quicksand";
	font-weight: 400;
}
a {
	color: #ffd59a;
}
a:hover {
	color: #c3c5ce;
}
blockquote:after {
	border-color: #1b0000 transparent transparent transparent;
}
.tadreik_404_content_wrapper p, 
.tadreik_cs_content_wrapper p {
	color: #ffd59a;
}
.search_wrapper404 input[type="text"] {
	border-color: #ffffff;
}
.search_wrapper404 input[type="submit"] {
	background: #ffd59a;
}
.search_wrapper404 input[type="submit"]:hover {
	background: #303342;
}

.tadreik_button_light, 
a.tadreik_button_light {
	border-color: #ffd59a;
	border-radius: 8px;
	color: #ffd59a;
}
.tadreik_button_light:hover, 
a.tadreik_button_light:hover,
a.tadreik_button_light.tadreik_solid_button_light {
	background: #ffd59a;
	border-color: #ffd59a;
	color: #3e2723;
}
a.tadreik_button_light.tadreik_solid_button_light:hover {
	border-color: #6a4f4b;
	color: #6a4f4b;			
	background: rgba(15,234,250, 0);
}



.tadreik_button_dark, 
a.tadreik_button_dark {
	border-color: #3e2723;
	border-radius: 8px;
	color: #3e2723;
}
.tadreik_button_dark:hover, 
a.tadreik_button_dark:hover,
a.tadreik_button_dark.tadreik_solid_button_dark {
	background: #ffd59a;
	border-color: #ffd59a;
	color: #3e2723;
}
a.tadreik_button_dark.tadreik_solid_button_dark:hover {
	border-color: #6a4f4b;
	color: #6a4f4b;			
	background: rgba(15,234,250, 0);
}


header.tadreik_header .tadreik_header_bg {
	background: #1b0000;
}
.tadreik_transparent_header .tadreik_mobile_header,
.tadreik_transparent_header .tadreik_mobile_header_wrapper,
html body.page-template-page-coming-soon .tadreik_mobile_header,
.tadreik_transparent_header header.tadreik_header .tadreik_header_bg {
	background: none;
}
header.tadreik_header span {
	color: #fff;
}
.tadreik_mobile_header a,
header.tadreik_header a {
	color: #fff;
}
.tadreik_transparent_header .tadreik_mobile_header_wrapper a,
.tadreik_transparent_header header.tadreik_header a {
	color: #ffffff;
}
.tadreik_mobile_header a:hover,
header.tadreik_header a:hover {
	color: #ffd59a;
}
.tadreik_menu_opened a.tadreik_menu_toggler {
	color: rgba(255,255,255, 0)!important;
}
a.tadreik_menu_toggler span.tadreik_menu_ico span {
	background: #ffffff;
}
a.tadreik_menu_toggler:hover span.tadreik_menu_ico span {
	background: #ffd59a;
}

.tadreik_transparent_header a.tadreik_menu_toggler span.tadreik_menu_ico span {
	background: #ffffff;
}
.tadreik_transparent_header a.tadreik_menu_toggler:hover span.tadreik_menu_ico span {
	background: #ffd59a;
}

.tadreik_transparent_header a.tadreik_menu_toggler:hover span.tadreik_menu_ico span {
	background: #ffd59a;
}
.tadreik_social_icons_list li a {
	color: #ffffff;
}
.tadreik_social_icons_list li a:hover {
	color: #ffd59a;
}


/* Aside Menu */
.tadreik_aside_menu_wrapper {
	background: rgba(12,12,16, 0.9)!important;
}
.tadreik_aside_menu_wrapper nav.tadreik_main_nav {
	height: calc(100% - 134px - 120px);
	top: 134px;
}
.has_admin_bar .tadreik_aside_menu_wrapper nav.tadreik_main_nav {
	height: calc(100% - 134px - 120px - 32px);
}
.tadreik_aside_menu_wrapper a.tadreik_menu_toggler {
	top: 67px;
}
.tadreik_mobile_menu,
.tadreik_mobile_menu a,
.tadreik_aside_menu_wrapper,
.tadreik_aside_menu_wrapper a {
	color: #ffffff;
}
.tadreik_aside_menu_share_label:before {
	background: #ffffff;
}
.tadreik_aside_menu_wrapper a:hover {
	color: #ffd59a;
}
.tadreik_mobile_menu ul li > a:before,
.tadreik_aside_menu_wrapper ul li > a:before {
	background: #2b2d33;
}		
.tadreik_aside_menu_wrapper ul.tadreik_menu > li:hover > a {
	color: #ffffff;
}
.tadreik_mobile_menu ul.tadreik_menu li.current-menu-parent > a,
.tadreik_mobile_menu ul.tadreik_menu li.current-menu-item > a,
.tadreik_mobile_menu ul.tadreik_menu li.current-menu-ancestor > a,
.menu_simple_showed ul.tadreik_menu ul.sub-menu li.current-menu-parent > a,
.menu_simple_showed ul.tadreik_menu ul.sub-menu li.current-menu-item > a,
.menu_simple_showed ul.tadreik_menu ul.sub-menu li.current-menu-ancestor > a,
.menu_simple_showed ul.tadreik_menu li:hover > a,
.menu_simple ul.tadreik_menu ul.sub-menu li.current-menu-parent > a,
.menu_simple ul.tadreik_menu ul.sub-menu li.current-menu-item > a,
.menu_simple ul.tadreik_menu ul.sub-menu li.current-menu-ancestor > a,
.menu_simple ul.tadreik_menu li:hover > a,
.tadreik_aside_menu_wrapper ul.tadreik_menu li.current-menu-parent > a,
.tadreik_aside_menu_wrapper ul.tadreik_menu li.current-menu-item > a,
.tadreik_aside_menu_wrapper ul.tadreik_menu li.current-menu-ancestor > a,
.tadreik_aside_menu_wrapper ul.tadreik_menu li:hover > a {
	color: #ffd59a;
}


/* Simple Menu */
.menu_simple_showed ul.sub-menu,
.menu_simple ul.sub-menu {
	padding-top: 67px;			
}
.menu_simple_showed ul.sub-menu > li,
.menu_simple ul.sub-menu > li {
	background: #1b0000;
}
.menu_simple_showed ul.sub-menu ul.sub-menu > li,
.menu_simple ul.sub-menu ul.sub-menu > li {
	background: #1b0000;
}
.menu_simple_showed ul.sub-menu li > a:before,
.menu_simple ul.sub-menu > li > a:before {
	background: #2b2d33;
}
.tadreik_main_nav ul.tadreik_menu li:hover > a {
	color: #ffd59a;
}

.menu_simple_showed ul.tadreik_menu > li.current-menu-parent > a:before,
.menu_simple ul.tadreik_menu > li.current-menu-parent > a:before,
.menu_simple_showed ul.tadreik_menu > li.current-menu-item > a:before,
.menu_simple ul.tadreik_menu > li.current-menu-item > a:before,
.menu_simple_showed ul.tadreik_menu > li.current-menu-ancestor > a:before,
.menu_simple ul.tadreik_menu > li.current-menu-ancestor > a:before {
	background: #ffffff;
}
.menu_simple_showed ul.tadreik_menu > li.current-menu-parent:hover > a:before,
.menu_simple ul.tadreik_menu > li.current-menu-parent:hover > a:before,
.menu_simple_showed ul.tadreik_menu > li.current-menu-item:hover > a:before,
.menu_simple ul.tadreik_menu > li.current-menu-item:hover > a:before,
.menu_simple_showed ul.tadreik_menu > li.current-menu-ancestor:hover > a:before,
.menu_simple ul.tadreik_menu > li.current-menu-ancestor:hover > a:before {
	background: #ffd59a;
}


footer.tadreik_footer {
	border-top: 1px solid #242529;
	background: #1b0000;
	padding-top: 80px;
	padding-bottom: 77px;
}
footer.tadreik_footer span,
footer.tadreik_footer div,
footer.tadreik_footer p {
	color: #c3c5ce;
}
footer.tadreik_footer a {
	color: #c3c5ce;
}
footer.tadreik_footer a:hover {
	color: #ffd59a;
}
.tadreik_footer_left_part,
.tadreik_footer_right_part {
	width: calc(50% - 73px);
}
.tadreik_footer_middle_part {
	width: 145px;

}

.tadreik_title_breadcrumb_wrapper a:hover {
	color: #ffd59a;
}
select option {
	background: #1b0000;
}
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #ffd59a;
}

.widget a {
	color: #c3c5ce;
}
.widget a:hover {
	color: #ffd59a;
}
.tagcloud a:hover {
	background: #ffd59a;
	border-color: #ffd59a;
}
.widget .tagcloud a:hover {
	color: #ffffff;
}
.tadreik_about_widget .tadreik_widget_socials a:hover {
	background: #ffd59a;
}

.tadreik_meta,
.tadreik_meta div,
.tadreik_meta a {
	color: #ffffff;
}
.tadreik_meta:before {
	background: #ffffff;
}
.tadreik_meta a:hover {
	color: #ffd59a;
}
.tadreik_element_blog .read_more_cont a,
.tadreik_element_blog .read_more_cont a:hover {
	color: #ffffff;			
}
.tadreik_element_blog .read_more_cont a:before {
	background: #ffffff;
}
body nav.pagination .nav-links span,
body nav.pagination .nav-links a {
	color: #ffffff;
}
body nav.pagination .nav-links span {
	background: #ffd59a;
	border-color: #ffd59a;
}
body nav.pagination .nav-links a {
	border-color: #303342;
}
body nav.pagination .nav-links a:hover {
	border-color: #ffffff;
}
body nav.pagination .nav-links span.page-numbers.dots {
	border-color: #303342;
}

.tadreik_title a:hover {
	color: #ffd59a;
}
.tadreik_post_footer .tadreik_post_tags i,
.tadreik_post_footer .tadreik_post_tags a,
.tadreik_post_footer .tadreik_post_tags div {
	color: #ffffff;
}
.tadreik_prev_post_content .tadreik_prev_link,
.tadreik_next_post_content .tadreik_next_link {
	color: #ffffff;
}
.tadreik_prev_post_content .tadreik_prev_link:before,
.tadreik_next_post_content .tadreik_next_link:before {
	background: #ffffff;
}
.tadreik_next_post a:hover h6,
.tadreik_prev_post a:hover h6,
.tadreik_next_post a:hover,
.tadreik_prev_post a:hover {
	color: #ffd59a;
}
.tadreik_next_post a:hover:before,
.tadreik_prev_post a:hover:before {
	background: #ffd59a;
}
.tadreik_post_title:hover h5 {
	color: #ffd59a;
}
.tadreik_comment_info .tadreik_comment_author,
.tadreik_comment_date {
	color: #ffffff;
}
.tadreik_comment_reply_wrapper a {
	color: #ffffff;
}
.tadreik_comment_reply_wrapper a:hover {
	color: #ffd59a;
}
.tadreik_comment_reply_wrapper a:before {
	background: #ffffff;
}
.tadreik_comment_reply_wrapper a:hover:before {
	background: #ffd59a;
}

.tadreik_testimonials_slider .tadreik_testimonials_item div {
	color: #ffffff;
}
.tadreik_testimonials_slider .tadreik_testimonials_item div.testimonial_additional {
	color: #c3c5ce;
}
.tadreik_cs_sharing span:before,
.tadreik_slider_sharing_block span:before {
	background: #ffffff;
}
.tadreik_cs_sharing span,
.tadreik_cs_sharing a,
.tadreik_slider_sharing_block span,
.tadreik_slider_sharing_block a {
	color: #ffffff;
}
.tadreik_cs_sharing a:hover {
	color: #ffd59a;
}

.tadreik_element_wrap .countdown .item span,
.tadreik_element_wrap .countdown .item span.label {
	color: #ffffff;
}
.tadreik_cs_form input[type="text"],
.tadreik_cs_form input[type="email"] {
	border-color: #ffffff;
}
.tadreik_cs_form input[type="submit"] {
	background: #ffd59a;
}
.tadreik_cs_form input[type="submit"]:hover {
	background: #303342;
}
.tadreik_albums_ajax_item {
	color: #ffffff;
}

/* Projects Module */
a.project_listing_see_btn {
	color: #ffffff;
}
.tadreik_stand_fi_project_listing  a.project_listing_see_btn {
	background: #ffd59a;
}

a.project_listing_see_btn:before {
	background: #ffffff;
}
.tadreik_grid_post_title a:hover h3 {
	color: #ffd59a;
}
.tadreik_project_post_content a.project_listing_see_btn:hover {
	color: #ffd59a;
}
.tadreik_project_post_content a.project_listing_see_btn:hover:before {
	background: #ffd59a;
}

.tadreik_grid_post_title a:hover h5 {
	color: #ffd59a;
} 

/* Filter */
.tadreik_filter_inner li a {
	color: #ffffff;
}
.tadreik_filter_inner li.selected a {
	color: #ffd59a;
}
.tadreik_filter_inner li a:before {
	background: #ffffff;
}
.tadreik_filter_inner li.selected a:before {
	background: #ffd59a;
}

/* tadreik Albums */
.tadreik_albums_slide_title a {
	color: #ffffff;
}
.tadreik_albums_slide_meta {
	padding: 0 0 0 60px;
}
.tadreik_albums_slide_meta:before {
	width: 40px;
}
.tadreik_albums_slider_counter span,
.tadreik_albums_slider_counter i {
	color: #ffffff;
}
.tadreik_scroll_to_explore span {
	color: #ffffff;
}
.tadreik_scroll_to_explore span:before {
	background: #ffffff;
}
.tadreik_albums_ajax_template_wrapper {
	background: #1b0000;
}
.tadreik_albums_ajax_numbers div {
	color: #ffffff;
}
.tadreik_albums_ajax_numbers div.tadreik_albums_ajax_number_item:before {
	background: #ffffff;
}
.tadreik_contact_info  a:hover {
	color: #ffffff;
}
.tadreik_promo_text,
.tadreik_promo_title {
	color: #ffffff;
}
.tadreik_promo_text:before {
	background: #ffffff;
}
.tadreik_back_to_top:hover {
	background: #ffd59a;
	border-color: #ffd59a;
}

/* Mobile Header */
.tadreik_mobile_header,
.tadreik_mobile_header_wrapper,
.tadreik_mobile_menu_wrapper {
	background: #1b0000;
}
